
.DS_Store

/.CFUserTextEncoding
/.erlang.cookie
/.keystore
/.netrc
/.npm/
/.ssh/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Squarespace/
/.dropbox/
/.bash_history